.wrapper{
    
}
.header{
    font-size: 25px;
    height: 2cm;
    background-color: #ADD8E6;
    color: #0F0EE7;
    padding-top: 1cm;
    text-align: center;
    font-weight: bold;
}


.menu{
    width: 250px;
     float: left;
    /* background-color: rgb(183, 183, 209); */
     
}
.content{
    
    background: url('bol.png') right top repeat-y;
    padding-left: 250px;
   
}


.footer{
    font-size: 25px;
    height: 2cm;
    font-weight: bold;
    background-color: #ADD8E6;
    color: #0F0EE7;
    padding-top: 1cm;
    text-align: center;
}
img{
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 30px;
    
}
.ca{
    font-weight: bold;
    padding: 20px;
}
.cb{
    margin-left: 30px;
   
}