body {
    padding: 20px;
    
}

p{
    width: 50%;
    border: 1px solid red;
    padding: 5px 10px;
    box-sizing: border-box;
    float: left;
    
}
img{
    float: right;  
    margin: 30px;
    
}
div{
    width: 40%;
    border: 1px solid green;
    min-height: 200px;
    background: green;
    float: left;
}
p.test{
    
}