@import"style.css";
@media all and (max-width: 1088px){
    .banner, .menu{
        height: 300px;
    }

.banner{
    background-color: chocolate;
}
.menu{
    background-color: darkgreen;
}
}
@media all and (max-width: 832px){ 
.menu{
    float: right;
}
.banner{
    float: left;
}
}
@media all and (max-width: 774px){
.menu, .banner{
    width: 100%;
    float: none;
}

}