*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content-wrap{
    background-color: darkslateblue;
}
.header, .footer{
    background-color: blue;
    text-align:center;
    height:50px;
}
.menu{
    background-color: chartreuse;
    float: left;
    width: 200px;
}
.banner{
    background-color: crimson;
    float: right;
    width: 200px;
}
.content{
    background-color: rgb(53, 11, 11);
    
}
.clearfix:after{
   
    content: '';
    display: block;
    clear: both;
}