@import 'mixin';
*{
    box-sizing: border-box;
    padding: 0px;
}  

body{


}
.cont{
   

margin: 0;
background: rgb(179, 138, 124);
color: white;
font-family: Arial, Helvetica, sans-serif;
position: relative;
// min-height: 100vh;
height: 100%;

    
}
#game-over{

font-size: 330px;
color: rgb(219, 20, 20);
text-align: center;
line-height: .6;
display: none;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
@include media(1166px) {

    // font-size: 85px;
    top: 50%;
    left: 0%;
    font-size: 61px;
    transform: translate(0%, 0%);
    z-index: 1;
}
 }



#game{
padding-top: 20px;
font-size: 40px;
width: 320px;
margin:  auto;
@include media(1166px) {

   margin: 0;

}
  
}

#START, 
#PAUSE
{
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 10px 30px;
    // margin: 10px 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid #332a28;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #fe6637;
    transition: .2s ease-in-out;

}
#START:before,
#PAUSE:before
{
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
 }
 #START:hover,
 #PAUSE:hover
 {
    background-color: #6b2f68;
    color: #fff;

 }
 #START:hover:before,
 #PAUSE:hover:before
 {
    left: 150px;
    transition: .5s ease-in-out;
}



.main{

/* width: 320px; */
/* height: 620px; */

margin: 20px auto 0;
border: 10px solid rgb(219, 20, 20);
/* display: flex; */
font-size: 0;

}
.cell{
width: 30px;
height: 30px;
border:1px solid  rgb(77, 70, 70);
display: inline-block;
}
.movingcell{
background-color: rgb(53, 53, 126);
}
.fixedcell{
background-color: rgb(29, 17, 2);
}
#ss{

    color: black;
    // @include media(1161px) {

       
    //     font-size: 10px;
    //     top: 370px;
    //     left: 390px;
        
    // }
   
}
#next-tetro {
   
position: absolute;
top: 200px;
left: 200px;
font-size: 0;
@media all and (max-width: 1166px) {
    top: 60px;
    left: 200px;
  }
}
#menu{

    @include media(1470px) {

        width: 400px;
        background-color: aqua;
    }
    
   
width: 550px;
margin: 0 auto;
height: 50%;
background-color: rgb(231, 145, 114);
border: solid 1px rgb(29, 17, 2);
border-radius: 20px;
position: absolute;
top: 50px;
left: -700px;
color: black;
font-size: 30px;
overflow: hidden;
box-shadow: 0px 0px 8px blue;
z-index: 1;

}

#form{
    @include media(1470px) {

        width: 270px;
        background-color: aqua;

    }
   
   
border: solid 1px rgb(29, 17, 2);
width: 325px;
height: 190px;

position: absolute;
top: -700px;
left: 0px;
background-color: rgb(231, 145, 114);
z-index: 1;
border-radius: 10px;
box-shadow: 0px 0px 8px blue;
}

.but{

height: 50px;
width: 94%;
border-radius: 10px;
margin-left: 8px;
margin-top: 10px;
box-shadow: 0px 0px 8px blue;


}

.in{
height: 50px;
width: 94%;
border-radius: 10px;
margin-left: 8px;
font-size: 30px;
box-shadow: 0px 0px 8px rgb(161, 5, 135);
}
