* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
}

.cont {
  margin: 0;
  background: #b38a7c;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  height: 100%;
}

#game-over {
  font-size: 330px;
  color: #db1414;
  text-align: center;
  line-height: .6;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media all and (max-width: 1166px) {
  #game-over {
    top: 50%;
    left: 0%;
    font-size: 61px;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    z-index: 1;
  }
}

#game {
  padding-top: 20px;
  font-size: 40px;
  width: 320px;
  margin: auto;
}

@media all and (max-width: 1166px) {
  #game {
    margin: 0;
  }
}

#START,
#PAUSE {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 10px 30px;
  position: relative;
  overflow: hidden;
  border: 2px solid #332a28;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #fe6637;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#START:before,
#PAUSE:before {
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  -webkit-transform: skewX(-45deg);
          transform: skewX(-45deg);
}

#START:hover,
#PAUSE:hover {
  background-color: #6b2f68;
  color: #fff;
}

#START:hover:before,
#PAUSE:hover:before {
  left: 150px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.main {
  /* width: 320px; */
  /* height: 620px; */
  margin: 20px auto 0;
  border: 10px solid #db1414;
  /* display: flex; */
  font-size: 0;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #4d4646;
  display: inline-block;
}

.movingcell {
  background-color: #35357e;
}

.fixedcell {
  background-color: #1d1102;
}

#ss {
  color: black;
}

#next-tetro {
  position: absolute;
  top: 200px;
  left: 200px;
  font-size: 0;
}

@media all and (max-width: 1166px) {
  #next-tetro {
    top: 60px;
    left: 200px;
  }
}

#menu {
  width: 550px;
  margin: 0 auto;
  height: 50%;
  background-color: #e79172;
  border: solid 1px #1d1102;
  border-radius: 20px;
  position: absolute;
  top: 50px;
  left: -700px;
  color: black;
  font-size: 30px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 8px blue;
          box-shadow: 0px 0px 8px blue;
  z-index: 1;
}

@media all and (max-width: 1470px) {
  #menu {
    width: 400px;
    background-color: aqua;
  }
}

#form {
  border: solid 1px #1d1102;
  width: 325px;
  height: 190px;
  position: absolute;
  top: -700px;
  left: 0px;
  background-color: #e79172;
  z-index: 1;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px blue;
          box-shadow: 0px 0px 8px blue;
}

@media all and (max-width: 1470px) {
  #form {
    width: 270px;
    background-color: aqua;
  }
}

.but {
  height: 50px;
  width: 94%;
  border-radius: 10px;
  margin-left: 8px;
  margin-top: 10px;
  -webkit-box-shadow: 0px 0px 8px blue;
          box-shadow: 0px 0px 8px blue;
}

.in {
  height: 50px;
  width: 94%;
  border-radius: 10px;
  margin-left: 8px;
  font-size: 30px;
  -webkit-box-shadow: 0px 0px 8px #a10587;
          box-shadow: 0px 0px 8px #a10587;
}
/*# sourceMappingURL=style.css.map */