@import 'mixin';
*{
    box-sizing: border-box;

}  

body{


    // @include media(1200px) {

    //     width: 1170px;
    //     background-color: black;

    // }

// @include media(900px) {

//     width: 920px;
//     border: 10px solid rgb(68, 6, 139);

// }
@include media(375px) {

    width: 375px;
    margin: auto;
    background-color: aqua;
}
}
.cont{
    @include media(600px) {

        width: 375px;
        margin: auto;
        background-color: rgb(32, 4, 97);
    }

margin: 0;
background: rgb(179, 138, 124);
color: white;
font-family: Arial, Helvetica, sans-serif;
position: relative;

    
}
#game-over{

font-size: 330px;
color: rgb(219, 20, 20);
text-align: center;
line-height: .6;
display: none;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
#game{
padding-top: 20px;
font-size: 40px;
width: 320px;
margin:  auto;
@include media(1161px) {

    margin: 0px;
    
}

}
.main{

/* width: 320px; */
/* height: 620px; */

margin: 20px auto 0;
border: 10px solid rgb(219, 20, 20);
/* display: flex; */
font-size: 0;

}
.cell{
width: 30px;
height: 30px;
border:1px solid  rgb(77, 70, 70);
display: inline-block;
}
.movingcell{
background-color: rgb(53, 53, 126);
}
.fixedcell{
background-color: rgb(29, 17, 2);
}
#ss{

    color: black;
    // @include media(1161px) {

       
    //     font-size: 10px;
    //     top: 370px;
    //     left: 390px;
        
    // }
   
}
#next-tetro {
    @include media(1161px) {

       
        top: 55px;
        
        
    }
position: absolute;
top: 200px;
left: 200px;
font-size: 0;
}
#menu{

    @include media(1450px) {

        width: 400px;
        background-color: aqua;
    
    
    @include media(1161px) {

        width: 400px;
        background-color: aqua;
        // left: 490px;
        top: 386px;
        
        // transition: all 3s ease 0s;
    }
}
// @include media(900px) {

//     width: 414px;
//     border: 10px solid rgb(68, 6, 139);

// }
width: 550px;
margin: 0 auto;
height: 50%;
background-color: rgb(231, 145, 114);
border: solid 1px rgb(29, 17, 2);
border-radius: 20px;
position: absolute;
top: 50px;
left: -700px;
color: black;
font-size: 30px;
overflow: hidden;
box-shadow: 0px 0px 8px blue;

}

#form{
    @include media(1161px) {

        width: 400px;
        background-color: aqua;
        left: 490px;
        // top: 386px;
        
        // transition: all 3s ease 0s;
    }
border: solid 1px rgb(29, 17, 2);
width: 325px;
height: 190px;

position: absolute;
top: -700px;
left: 828px;
background-color: rgb(231, 145, 114);
z-index: 1;
border-radius: 10px;
box-shadow: 0px 0px 8px blue;
}

.but{

height: 50px;
width: 300px;
border-radius: 10px;
margin-left: 8px;
margin-top: 10px;
box-shadow: 0px 0px 8px blue;
}

.in{
height: 50px;
width: 300px;
border-radius: 10px;
margin-left: 8px;
font-size: 30px;
box-shadow: 0px 0px 8px rgb(161, 5, 135);
}
/* @keyframes showBlock {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
} */ 