@media print{
    a{
        content: attr(alt="инф");
    }
     a{
        display: none;
    }
}
@media screen {
     .g{
        display: none;
    }
}



.font{
    font-weight: bold;
    font-size: 24px;
}
.as{
    color: green;
}
.as2{
    color: red; 
    font-weight: bold;
}
.font1{
    font-style: italic;  
    color: blue;
}
p a{
    background-image: url(extref.png);
    background-repeat: no-repeat;
    padding-left: 15px;
    background-position: left;
    text-decoration: none;
}

