$gray: #E1E1E1;
$red: #E13F36;
$black:#000000;


*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body{
.container:before{
    content: "";
    display: block; 
    height: 80px;
    width: 100%;
    background: $gray;
    /* display: flex; */
    /* margin: 0 auto; */
    position: absolute;
    left: 0;
    z-index: -1;
}
    .container{
        display: flex;
        width: 1135px;
        margin: 0 auto;
        justify-content: space-between;
        
        
        ul{
            display: flex;
            align-items: center;
            
            img{
// vertical-align: 40px;
            }
        }
    }
    li{
        list-style-type: none;
        text-decoration: none;
    }

}
.container-left{
    // width: 1135px;
    // margin: 0 auto;
    height: 80px;
    display: flex;
    ul{
        display: flex;
        
li:first-child{
width: 129px;
height: 40px;
left: 80px;
top: 19px;
margin-right: 36px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 40px;

color: #000000;

}
a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    text-decoration: none;
}
    }

}

.container-right{
    // width: 1135px;
    // margin: 0 auto;
    display: flex;
    height: 80px;
    
    ul{
        display: flex;
      
        li:first-child{
            width: 368px;
            height: 44px;
            font-family: 'Open Sans';
            font-size: 18px;
            line-height: 121.4%;
            color: rgba(74, 70, 70, 0.5);
            background: #FFFFFF;
            border-radius: 63px;
            padding: 11px 193px 11px 24px;
            margin-right: 24px;
            vertical-align: 5px;
        }
        li:nth-child(3){
            margin-right: 16px;
        }
        li:nth-child(2){
            margin-right: 16px;
        }
    }
}
.header{
    // background: $gray;
    // height: 80px;
    

    
    
}
.catalog{
    display: flex;
}

.container-catalog{
        display: flex;
        width: 1135px;
        margin: 0 auto;
        justify-content: space-between;
        

        .catalog ul{
            display: flex;
            align-items: center;
            align-items: baseline;
            li:first-child {
                width: 160px;
                height: 44px;
                background: #EDEDED;
                border-radius: 63px;
                font-family: 'Open Sans';
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                padding: 10px 33px 12px 48px;
                vertical-align: 10px;
                text-align: 10px;
                margin-top: 25px;
                margin-right: 77px;
            }
            li:nth-child(2){
            margin-right: 55px;
            font-family: 'Open Sans';
            font-size: 16px;
            line-height: 22px;
            }
            li:nth-child(3){
            margin-right: 55px;
            font-family: 'Open Sans';
            font-size: 16px;
            line-height: 22px;
            }
            li:nth-child(4){
            margin-right: 55px;
            font-family: 'Open Sans';
            font-size: 16px;
            line-height: 22px;
            }
            li:nth-child(5){
            margin-right: 55px;
            font-family: 'Open Sans';
            font-size: 16px;
            line-height: 22px;
            }
            li:nth-child(6){
            margin-right: 55px;
            font-family: 'Open Sans';
            font-size: 16px;
            line-height: 22px;
            color: $red;
            }
            li:nth-child(7){
            margin-right: 55px;
            font-family: 'Open Sans';
            font-size: 16px;
            line-height: 22px;
            color: $black;
            opacity: 0.5;
                }
            
        }
}


.banner{
    width: 1135px;
    height: 482px;
    background: url(../img/a.png) center center;
    margin-top: 96px;
    position: relative;
    img{
        position: absolute;
        left: 99px;
        top: 112px;
    }
    li:nth-child(2){
        position: absolute;
        left: 96px;
        top: 154px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 45px;
        line-height: 53px;
        color:$gray;
            }
    li:nth-child(3){
         position: absolute;
         left: 96px;
         top: 228px;
         font-family: Roboto;
         font-style: normal;
         font-weight: 500;
         font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        text-shadow: 0px 2px 30px 
        rgba(0, 0, 0, 0.25);
            }  
    li:nth-child(4){
        position: absolute;
        left: 96px;
        top: 288px;
        }    
        button{
        font-family: Open Sans;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: $gray;
        border: 1px solid $gray;
        border-radius: 63px;
        width: 131px;
        height: 49px;
        background-color: transparent;

        }     
        
        
            

        
}

.container-catalog1{
    display: flex;
    width: 1135px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 9px;
    margin-top: 94px;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    
    color:$black; 
    p{
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        
        color: $black;
         
    }
}

.container-product{
    // display: flex;
    width: 1135px;
    margin: 0 auto; 
    margin-top: 64px;
    justify-content: space-between;

    .produkt{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        ul li:nth-child(2){
        font-family: Open Sans;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: $black;
        margin-top: 34px;
    }
        ul li:nth-child(3){
        font-family: Open Sans;
        // font-style: normal;
        // font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: $black;
        margin-top: 12px;
    }
        .dd{
            margin-bottom: -18px;
        }
    }
        .produkt1{
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            ul li:nth-child(2){
            font-family: Open Sans;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            color: $black;
            margin-top: 36px;
        }
            ul li:nth-child(3){
            font-family: Open Sans;
            // font-style: normal;
            // font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: $black;
            margin-top: 12px;
        }

}
}
.footer{
    width: 100%;
    height: 270px;
    background: $gray;
    margin-top: 105px;
    display: flex;
    

}
.foot-container{
    width: 1135px;
    margin: 0 auto;  
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    
    ul li{
        margin-bottom: 16px;
    }
}
.container-footer1{
font-family: Open Sans;
font-weight: bold;
font-size: 16px;
line-height: 22px;
// text-align: center;
color: $black;
width: 197px;
margin-right: 91px;

}
.container-footer2{
    font-family: Open Sans;
    font-size: 16px;
    line-height: 22px;
    color:$black;
    width: 132px;
    margin-right: 92px;
    ul li:first-child {
        font-family: Open Sans;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: $black;
    }
    
    }
    .container-footer3{
        font-family: Open Sans;
        font-size: 16px;
        line-height: 22px;
        color:$black;
        width: 81px;
        margin-right: 70px;
        ul li:first-child {
            font-family: Open Sans;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            color:$black;
        }
    }

    .container-footer4{
        // width: 146px;
        // width: 98;
        width: 146px;
        margin-right: 134px;
    }
    .container-footer5{
        width: 192px;

        ul li:last-child {
            margin-left: 16px;
        }
        div{
            display: flex;
            justify-content: flex-end;
           
        }        
    ul li:first-child{
            font-family: Open Sans;
            font-size: 24px;
         

        
       
    }
    ul li:last-child{
        font-family: Open Sans;
        font-size: 16px;
        color: $black;
           margin-top: 5px;
           
          
}
     

    
   
}




















// .footer{
//     width: 100%;
//     height: 270px;
//     background: $gray;
//     margin-top: 110px;
//     display: flex;
    

// }
// .foot-container{
//     width: 1135px;
//     margin: 0 auto; 
//     display: flex;
//     justify-content: space-between;
//     margin-top: 48px;
//     ul li{
//         margin-bottom: 16px;
//     }
// }
// .container-footer1{
// font-family: Open Sans;
// font-weight: bold;
// font-size: 16px;
// line-height: 22px;
// // text-align: center;
// color: $black;

// }
// .container-footer2{
//     font-family: Open Sans;
//     font-size: 16px;
//     line-height: 22px;
//     color:$black;
//     ul li:first-child {
//         font-family: Open Sans;
//         font-weight: bold;
//         font-size: 16px;
//         line-height: 22px;
//         color: $black;
//     }
    
//     }
//     .container-footer3{
//         font-family: Open Sans;
//         font-size: 16px;
//         line-height: 22px;
//         color:$black;
//         ul li:first-child {
//             font-family: Open Sans;
//             font-weight: bold;
//             font-size: 16px;
//             line-height: 22px;
//             color:$black;
//         }
//     }

//     .container-footer4{
//         // width: 146px;
//         // width: 98;
//     }
//     .container-footer5{
//         ul li:last-child {
//             margin-left: 16px;
//         }
//         div{
//             display: flex;
//             justify-content: flex-end;
           
//         }        
//     ul li:first-child{
//             font-family: Open Sans;
//             font-size: 24px;
         

        
       
//     }
//     ul li:last-child{
//         font-family: Open Sans;
//         font-size: 16px;
//         color: $black;
//            margin-top: 5px;
           
          
// }
     

    
   
// }
