* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1135px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  body .container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
body li {
  list-style-type: none;
  text-decoration: none; }

.container-left {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .container-left ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .container-left ul li:first-child {
      width: 129px;
      height: 40px;
      left: 80px;
      top: 19px;
      margin-right: 36px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 40px;
      color: #000000; }
    .container-left ul a {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      color: #000000;
      text-decoration: none; }

.container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px; }
  .container-right ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .container-right ul li:first-child {
      width: 368px;
      height: 44px;
      font-family: 'Open Sans';
      font-size: 18px;
      line-height: 121.4%;
      color: rgba(74, 70, 70, 0.5);
      background: #FFFFFF;
      border-radius: 63px;
      padding: 11px 193px 11px 24px;
      margin-right: 24px;
      vertical-align: 5px; }
    .container-right ul li:nth-child(3) {
      margin-right: 16px; }
    .container-right ul li:nth-child(2) {
      margin-right: 16px; }

.header {
  background: #E1E1E1;
  height: 80px; }

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.container-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1135px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .container-catalog .catalog ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
    .container-catalog .catalog ul li:first-child {
      width: 160px;
      height: 44px;
      background: #EDEDED;
      border-radius: 63px;
      font-family: 'Open Sans';
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      padding: 10px 33px 12px 48px;
      vertical-align: 10px;
      text-align: 10px;
      margin-top: 25px;
      margin-right: 77px; }
    .container-catalog .catalog ul li:nth-child(2) {
      margin-right: 55px;
      font-family: 'Open Sans';
      font-size: 16px;
      line-height: 22px; }
    .container-catalog .catalog ul li:nth-child(3) {
      margin-right: 55px;
      font-family: 'Open Sans';
      font-size: 16px;
      line-height: 22px; }
    .container-catalog .catalog ul li:nth-child(4) {
      margin-right: 55px;
      font-family: 'Open Sans';
      font-size: 16px;
      line-height: 22px; }
    .container-catalog .catalog ul li:nth-child(5) {
      margin-right: 55px;
      font-family: 'Open Sans';
      font-size: 16px;
      line-height: 22px; }
    .container-catalog .catalog ul li:nth-child(6) {
      margin-right: 55px;
      font-family: 'Open Sans';
      font-size: 16px;
      line-height: 22px;
      color: #E13F36; }
    .container-catalog .catalog ul li:nth-child(7) {
      margin-right: 55px;
      font-family: 'Open Sans';
      font-size: 16px;
      line-height: 22px;
      color: #000000;
      opacity: 0.5; }

.hr1 {
  opacity: 0.3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 92px;
  width: 1135px;
  margin: 23px auto; }

.container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1135px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 18px;
  font-family: Open Sans;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7); }

.container-catalog1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .container-catalog1 ul img {
    margin-left: 12px;
    margin-right: 12px; }

.container-catalog2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .container-catalog2 ul img {
    margin-left: 7px; }

.container2 {
  width: 1135px;
  margin: 104px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }
  .container2 .container2-column1 > p:nth-child(4) {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-top: 116px;
    margin-bottom: 12px; }
  .container2 .container2-column1 > p:nth-child(5) {
    font-family: Open Sans;
    font-size: 10px;
    line-height: 14px;
    color: #000000;
    margin-bottom: 8px; }
  .container2 .container2-column1 > p:nth-child(6) {
    float: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
    margin-right: 12px; }
  .container2 .container2-column1 .rating {
    float: left;
    padding-top: 6px; }
  .container2 .container2-column1 .rating > span {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 19px;
    float: right; }
  .container2 .container2-column1 .rating > span:hover:before,
  .container2 .container2-column1 .rating > span:hover ~ span:before {
    content: url(../img3/star22.png);
    position: absolute; }
  .container2 .container2-column1 div {
    position: relative; }
    .container2 .container2-column1 div img {
      margin-right: 40px;
      margin-bottom: 30px;
      width: 140px;
      height: 100px; }
  .container2 .container2-column2 {
    margin-right: 81px;
    width: 508px;
    height: 348px; }
    .container2 .container2-column2 div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .container2 .container2-column2 div img {
        margin-right: 14px;
        margin-top: 74px; }

.container2-column3 > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  margin-bottom: 26px; }
  .container2-column3 > div:nth-child(2) img {
    width: 15px;
    height: 15px;
    margin-right: 3px; }
.container2-column3 > p:first-child {
  font-family: Roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin-top: 20px; }
.container2-column3 div > p:first-child {
  width: 190px;
  height: 44px;
  background: #DFDDDD;
  border-radius: 63px;
  font-family: Open Sans;
  font-size: 18px;
  padding: 9px 51px 10px 50px;
  vertical-align: 10px;
  margin-bottom: 36px; }
.container2-column3 div > p span {
  font-family: Open Sans;
  font-size: 10px;
  line-height: 14px;
  margin-left: 8px; }
.container2-column3 > span:first-of-type {
  font-family: Open Sans;
  font-size: 24px;
  line-height: 33px;
  color: #C10404;
  margin-right: 8px;
  margin-top: 26px;
  margin-bottom: 36px; }
.container2-column3 > span:last-of-type {
  font-family: Open Sans;
  font-size: 18px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through; }
.container2-column3 > img {
  margin-bottom: 36px;
  margin-top: 36px; }
.container2-column3 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .container2-column3 ul li {
    margin-right: 6px; }
  .container2-column3 ul li:first-child {
    margin-right: 12px; }

.mini-container {
  width: 1135px;
  margin: 0 auto; }
  .mini-container p:nth-child(1) {
    margin-top: 42px;
    margin-bottom: 12px;
    font-family: Roboto;
    font-size: 20px; }
  .mini-container p:nth-child(2) {
    margin-bottom: 8px;
    font-family: Open Sans;
    font-size: 10px; }
  .mini-container p:nth-child(3) {
    float: left;
    font-family: Roboto;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    margin-right: 12px; }
  .mini-container .rating {
    float: left;
    padding-top: 6px; }
  .mini-container .rating > span {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 19px;
    float: right;
    margin-right: 4px; }
  .mini-container .rating > span:hover:before,
  .mini-container .rating > span:hover ~ span:before {
    content: url(../img3/star2.png);
    position: absolute; }

.container4 {
  width: 1135px;
  margin: 0 auto;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .container4 ul li:nth-child(1) {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 4px; }
  .container4 ul li:nth-child(2) {
    width: 74px;
    height: 12px;
    margin-bottom: 8px; }
  .container4 ul li:nth-child(3) {
    font-family: Open Sans;
    font-size: 16px; }
  .container4 .container-items1 {
    -ms-flex-preferred-size: 311px;
        flex-basis: 311px; }
  .container4 .container-items2 {
    -ms-flex-preferred-size: 368px;
        flex-basis: 368px;
    margin-left: 48px; }
  .container4 .container-items3 {
    -ms-flex-preferred-size: 368px;
        flex-basis: 368px;
    margin-left: 48px; }

.review {
  width: 1135px;
  margin: 0 auto;
  margin-top: 36px; }
  .review ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .review ul li > a {
      font-family: Nunito;
      font-size: 18px;
      line-height: 25px;
      -webkit-text-decoration-line: underline;
              text-decoration-line: underline;
      color: #000000;
      margin-right: 64px; }
  .review .popular {
    font-family: Roboto;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    margin-top: 126px;
    margin-bottom: 35px; }

.container5-catalog5 {
  width: 1135px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .container5-catalog5 .catalog5 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .container5-catalog5 .catalog5 ul li {
      width: 291px;
      height: 210px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 94px; }
      .container5-catalog5 .catalog5 ul li:nth-child(1) {
        background: url(../img3/hhh/jordan\ 32\ 1.png) no-repeat center; }
      .container5-catalog5 .catalog5 ul li:nth-child(2) {
        background: url(../img3/hhh/Jordan\ mars\ 270\ 1.png) no-repeat center; }
      .container5-catalog5 .catalog5 ul li:nth-child(3) {
        background: url(../img3/hhh/jordan\ 32\ 1.png) no-repeat center; }
      .container5-catalog5 .catalog5 ul li:nth-child(4) {
        background: url(../img3/hhh/jordan\ 23\ 1.png) no-repeat center; }
      .container5-catalog5 .catalog5 ul li:nth-child(5) {
        background: url(../img3/hhh/jordan\ 23\ 1.png) no-repeat center; }
      .container5-catalog5 .catalog5 ul li:nth-child(6) {
        background: url(../img3/hhh/Jordan\ XXXI\ 1.png) no-repeat; }
      .container5-catalog5 .catalog5 ul li h5 {
        font-family: Open Sans;
        font-weight: 600;
        font-size: 18px;
        color: #000000;
        margin-top: 228px; }
      .container5-catalog5 .catalog5 ul li p {
        margin-top: 12px; }
        .container5-catalog5 .catalog5 ul li p spanspan {
          font-family: Open Sans;
          font-size: 16px;
          color: #000000; }

.footer {
  width: 100%;
  height: 270px;
  background: #E1E1E1;
  margin-top: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.foot-container {
  width: 1135px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 48px; }
  .foot-container ul li {
    margin-bottom: 16px; }

.container-footer1 {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  width: 197px;
  margin-right: 91px; }

.container-footer2 {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  width: 132px;
  margin-right: 92px; }
  .container-footer2 ul li:first-child {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #000000; }

.container-footer3 {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  width: 81px;
  margin-right: 70px; }
  .container-footer3 ul li:first-child {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #000000; }

.container-footer4 {
  width: 146px;
  margin-right: 134px; }

.container-footer5 {
  width: 192px; }
  .container-footer5 ul li:last-child {
    margin-left: 16px; }
  .container-footer5 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .container-footer5 ul li:first-child {
    font-family: Open Sans;
    font-size: 24px; }
  .container-footer5 ul li:last-child {
    font-family: Open Sans;
    font-size: 16px;
    color: #000000;
    margin-top: 5px; }
/*# sourceMappingURL=style3.css.map */