@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1135px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  body .container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
body li {
  list-style-type: none;
  text-decoration: none; }

.container-left {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .container-left ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .container-left ul li:first-child {
      width: 129px;
      height: 40px;
      left: 80px;
      top: 19px;
      margin-right: 36px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 40px;
      color: #000000; }
    .container-left ul a {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      color: #000000;
      text-decoration: none; }

.container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px; }
  .container-right ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .container-right ul li:first-child {
      width: 368px;
      height: 44px;
      font-family: 'Open Sans';
      font-size: 18px;
      line-height: 121.4%;
      color: rgba(74, 70, 70, 0.5);
      background: #FFFFFF;
      border-radius: 63px;
      padding: 11px 193px 11px 24px;
      margin-right: 24px;
      vertical-align: 5px; }
    .container-right ul li:nth-child(3) {
      margin-right: 16px; }
    .container-right ul li:nth-child(2) {
      margin-right: 16px; }

.header {
  background: #E1E1E1;
  height: 80px; }

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.container-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1135px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .container-catalog .catalog ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
    .container-catalog .catalog ul li:first-child {
      width: 160px;
      height: 44px;
      background: #EDEDED;
      border-radius: 63px;
      font-family: 'Open Sans';
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      padding: 10px 33px 12px 48px;
      vertical-align: 10px;
      text-align: 10px;
      margin-top: 25px;
      margin-right: 77px; }
    .container-catalog .catalog ul li:nth-child(2) {
      margin-right: 55px;
      font-family: 'Open Sans';
      font-size: 16px;
      line-height: 22px; }
    .container-catalog .catalog ul li:nth-child(3) {
      margin-right: 55px;
      font-family: 'Open Sans';
      font-size: 16px;
      line-height: 22px; }
    .container-catalog .catalog ul li:nth-child(4) {
      margin-right: 55px;
      font-family: 'Open Sans';
      font-size: 16px;
      line-height: 22px; }
    .container-catalog .catalog ul li:nth-child(5) {
      margin-right: 55px;
      font-family: 'Open Sans';
      font-size: 16px;
      line-height: 22px; }
    .container-catalog .catalog ul li:nth-child(6) {
      margin-right: 55px;
      font-family: 'Open Sans';
      font-size: 16px;
      line-height: 22px;
      color: #E13F36; }
    .container-catalog .catalog ul li:nth-child(7) {
      margin-right: 55px;
      font-family: 'Open Sans';
      font-size: 16px;
      line-height: 22px;
      color: #000000;
      opacity: 0.5; }

.hr1 {
  opacity: 0.3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 92px;
  width: 1135px;
  height: 92px;
  margin: 0 auto; }

.container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1135px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 18px;
  font-family: Open Sans;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7); }

.container-catalog1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .container-catalog1 ul img {
    margin-left: 8px;
    margin-right: 8px; }

.container-catalog2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .container-catalog2 ul img {
    margin-left: 7px; }

.p {
  width: 1135px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .p p {
    margin-right: 10px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 36px;
    margin-top: 46px;
    color: #000000; }
  .p p:last-child {
    font-size: 22px;
    line-height: 55px; }

.container3 {
  width: 1135px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 75px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .container3 .wr {
    width: 1135px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .container3 p {
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 22px; }
  .container3 span {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 19px;
    color: #000000; }
  .container3 .catalog3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .container3 .catalog3 span {
      vertical-align: 5px;
      margin-right: 16px; }
  .container3 .n {
    margin-right: 12px;
    margin-bottom: 22px; }
  .container3 input[type="checkbox"] {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    border: 1.5px solid rgba(0, 0, 0, 0.6); }
  .container3 .s input {
    margin-right: 12px; }
  .container3 .v {
    margin-right: 8px;
    margin-bottom: 22px; }
    .container3 .v span {
      margin-right: 16px; }
  .container3 .m {
    margin-bottom: 14px;
    margin-top: 32px;
    font-family: Roboto;
    font-size: 24px;
    color: #000000; }
  .container3 .x {
    margin-right: 12px;
    margin-bottom: 22px; }

.catalog4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 85px; }
  .catalog4 ul:nth-child(3) > li:nth-child(3) {
    font-family: Open Sans;
    font-size: 24px;
    line-height: 33px;
    color: #C10404; }
  .catalog4 ul:nth-child(3) > li:nth-child(3)::after {
    font-family: Open Sans;
    font-size: 16px;
    line-height: 22px;
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
    color: #000000;
    margin-left: 10px;
    content: '19990 р'; }
  .catalog4 li:nth-child(2) {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000; }
  .catalog4 li:nth-child(3) {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-top: 12px; }
  .catalog4 ul:first-child > li img {
    margin-top: 0px; }
  .catalog4 ul > li img {
    width: 368px;
    height: 190px;
    margin-bottom: 50px;
    margin-top: 60px; }

.catalog5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .catalog5 ul:nth-child(4) > li:nth-child(3) {
    font-family: Open Sans;
    font-size: 24px;
    line-height: 33px;
    color: #C10404; }
  .catalog5 ul:nth-child(4) > li:nth-child(3)::after {
    font-family: Open Sans;
    font-size: 16px;
    line-height: 22px;
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
    color: #000000;
    margin-left: 12px;
    content: '13999 р'; }
  .catalog5 li:nth-child(2) {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000; }
  .catalog5 li:nth-child(3) {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-top: 12px; }
  .catalog5 ul:first-child > li img {
    margin-top: 0px; }
  .catalog5 ul > li img {
    width: 368px;
    height: 190px;
    margin-bottom: 50px;
    margin-top: 60px; }

.container-items {
  width: 1135px;
  margin: 0 auto; }
  .container-items ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: -324px;
    margin-top: 152px; }
    .container-items ul li {
      margin-right: 47px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .container-items ul li:nth-child(1) {
      font-family: Open Sans;
      font-weight: 600;
      font-size: 18px;
      color: #000000;
      padding-left: 53px; }
    .container-items ul span {
      border: 1px solid #898989;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 2px;
      width: 44px;
      height: 44px;
      padding-top: 9px;
      margin-right: -22px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .container-items ul li:nth-child(2),
    .container-items ul li:nth-child(3),
    .container-items ul li:nth-child(4),
    .container-items ul li:nth-child(5),
    .container-items ul li:nth-child(6) {
      color: #000000;
      opacity: 0.5;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px; }

.footer {
  width: 100%;
  height: 270px;
  background: #E1E1E1;
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.foot-container {
  width: 1135px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 48px; }
  .foot-container ul li {
    margin-bottom: 16px; }

.container-footer1 {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #000000; }

.container-footer2 {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 22px;
  color: #000000; }
  .container-footer2 ul li:first-child {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #000000; }

.container-footer3 {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 22px;
  color: #000000; }
  .container-footer3 ul li:first-child {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #000000; }

.container-footer5 ul li:last-child {
  margin-left: 16px; }
.container-footer5 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
.container-footer5 ul li:first-child {
  font-family: Open Sans;
  font-size: 24px; }
.container-footer5 ul li:last-child {
  font-family: Open Sans;
  font-size: 16px;
  color: #000000;
  margin-top: 5px; }

/*# sourceMappingURL=style1.css.map */