.star0{
display: table;
margin-right: 10px;
}



.star1 {
background: url('star0.png') no-repeat center center;
/* display: inline-block; */
width: 76px;
height: 78px;
float: left;
}

.star0 .star1:hover  {
    background: url('star1.png') no-repeat center center;
display: inline-block;
width: 76px;
height: 78px;
float: left;
}
