*{
    box-sizing: border-box;
}
body{
    
    
}
.inner_header{
    background: rgb(9, 14, 94);
    
}
.header {
margin-bottom: 10px;
}

.inner_content{
    background: rgb(9, 14, 94);  
    min-height: 500px;
    
}
.content {
    
    width: 40%;
    float: left;
}
.inner_sidebar{
    
    
    
}
.sidebar {
    background: url('bol.png') right top repeat-y;
    width: 60%;
    padding-left: 10px;
    float: left;
    

}

.footer {
    background: rgb(9, 14, 94);
    height: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    }